.header{
    width: 100vw;
    height: 55px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header-container{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-dark{
    background-color: black;
    color: white;

}

.header-light {
    background-color: white;
    color: black;
}

.logo{
    width: 80px;
    height: 50px;
}

.nav_option{
    margin: 10px;
}

.menu_options{
    display: flex;
}

.menu_option{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_button{
    width: 80px;
    height: 40px;
    border-radius: 1.5rem;
    padding-top: 2px;
    background-color: white;
    color: gray;
}

.search_info{
    border: 1px solid rgba(163, 163, 163, 0.281);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 10px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_tag{
    padding: 3px 15px;
    font-size: smaller;
}

.date_tag{
    border-right: 1px solid rgba(163, 163, 163, 0.281);
    border-left: 1px solid rgba(163, 163, 163, 0.281);
}
